.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer-item {
  flex: 1;
  margin: 0 1rem;
  min-width: 200px; /* Ajusta el ancho mínimo si es necesario */
}

.footer-item h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem; 
  color: #f4f4f4;
}

.footer-item p {
  font-size: 0.80rem;
  color: #cccccc;
  line-height: 1.4;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links li a {
  color: #ffffff;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.social-links li a:hover {
  color: #b6741d;
}

.copyright p{
  font-size: 0.7rem;
  color: #aaaaaa;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-item h5{
    font-size: 1.5rem;
  }
  .footer-item p{
    font-size: 1.2rem;
  }
  .copyright p{
    font-size: 1rem;
  }
}
